
    <h1>Create a Meetup</h1>

    <form action="/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date">
        <label for="time">Time:</label>
        <input type="text" id="time" name="time">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
        <label for="description">Duration:</label>
        <input type="textarea" id="duration" name="duration">
        <label for="mail">Email:</label>
        <input type="text" id="email" name="email">

        <input type="submit" value="Submit">
    </form>
